<manifest package="com.chaoxiang.base"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          tools:overrideLibrary="android.support.design">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>

    <uses-sdk
        tools:overrideLibrary="android.support.design
        ,android.support.v7.appcompat,android.support.v7.cardview,com.malinskiy.materialicons
        ,com.eowise.recyclerview.stickyheaders,android.support.v7.recyclerview,android.support.v4,
        cn.jpush.client.android,cn.jcore.client.android"/>

</manifest>
